$main-color: rgb(255, 166, 0);
$color-text: #ffffff;
$color-black: #2f2d2d;
$color-grey: #5f5e5e;
$color-light-grey: #919191;

:root {
    --dark: #fdfafa;
    --sixeindex: calc(1vw * 1vh);
    --transition: .75s cubic-bezier(.2, .6, 0, 1);
}
