.resume {
    padding-top: 60px;
    /* &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            top: -6px;
        }
    }
    &__subtitle {
        text-align: center;
    } */
    &__wrapper {
        margin-top: 60px;
        padding: 0 65px;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        column-gap: 120px;
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 8px;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            position: relative;
            li {
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 33px);
                    position: absolute;
                    top: 0px;
                    left: 0;
                    background-color: $color-text;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 45px;
            top: 68px;
            position: absolute;
            background-color: $color-text;
        }
        &-heard {
            position: relative;
            padding: 45px 0 0 100px;
            display: grid;
            color: $color-text;
            text-decoration: none;
            cursor: pointer;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding: 12px 0 0 43px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 48px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
}