@import 'base/variables';
@import 'base/mixins';

@import 'libs/title';
@import 'libs/buttons';

body{
    background-color: $color-black;
    color: $color-text;
}

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}


@import 'blocks/promo';
@import 'blocks/sidepanel';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/contacts';
@import 'blocks/modal';
@import 'blocks/media';


